<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom</title>
    <link rel="stylesheet" href="style.css">
    <script>console.log(`your id is: <%= roomId %>`)</script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div id="video-grid"></div>
    <script src="script.js"></script>
</body>
</html>