/* body{
    background-color: black;
    color: white;
} */
#video-grid{
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 80%;
    margin: 0 auto;
    border: 5px solid gray;
    margin-top: 3rem;
}
video{
    height: 100%;
    width: 100%;
    object-fit: contain;
}